.autoCompleteContainer {
  position:relative;
  width: 100%;
  min-height: 30px;
  font-family: $mainFont;
  margin-top: 14px;
  .containerField {
    input {
      font-size:18px;
      padding: 0;
      padding-bottom: 5px;
      color: rgba(0, 0, 0, 0.87);
      display: block;
      width: 100%;
      border:none;
      font-size: 16px;
      border-bottom:1px solid rgb(224, 224, 224);
      outline: none;
    }
  }
  label {
    color: rgba(0, 0, 0, 0.3);
    font-size:16px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left: 0;
    z-index: 1;
    line-height: 16px;
    top: 0;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
  }
  .labelFocus {
    top: -24px;
    font-size: 12px;
    color: $main-blue;
  }
  .labelGrey {
    color: rgba(0, 0, 0, 0.3);
  }
  .bar 	{
    position:relative;
    display:block;
    width: 100%;
  }
  .bar:before, .bar:after 	{
    content:'';
    height:2px;
    width:0;
    bottom:1px;
    position:absolute;
    background: $main-blue;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    //-moz-transition:0.2s ease all;
    //-webkit-transition:0.2s ease all;
  }
  .bar:before {
    left:50%;
  }
  .bar:after {
    right:50%;
  }
  .barFocus {
    &:before {
      width: 50%;
    }
    &:after {
      width: 50%;
    }
  }

  .barErrors:before, .barErrors:after {
    background: rgb(244, 67, 54);
  }
  .defaultError {
    font-size: 12px;
    margin-top: 5px;
    line-height: 12px;
    color: rgb(244, 67, 54);
  }
}





.suggestionsContainerOpen {
  position: absolute;
  left: 0;
  top: 32px;
  z-index: 10;
  right: 0;
  background: #fff;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
  transition: opacity .2s cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 124px;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
},
.suggestion {
  display: block;
  font-size: 16px;
  color: rgba(33, 33, 33, 0.87);
  line-height: 19px;
  min-height: 19px;
  padding: 10px 14px 8px 14px;
  transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;;
  cursor: pointer;
  outline: none;
  box-sizing: content-box;
}

.suggestionsList {
  margin: 0;
  padding: 0;
}

.suggestionHighlighted {
  background-color: #f8f8f8;
}

.textField {
  width:  100%;
};
