.centeredIcon {
  align-self: center;
}

.dataContainer {
  display: flex;
  justify-content: center;
}

.truckInfoContainer,
.companyInfoContainer {
  min-width: 200px;
  ul {
    list-style: none;
    line-height: 1.5;
    color: $dark-grey;
  }
}
