.fleetFormContainer {
  margin: 0px auto;
}

.formContainer {
  width: 80%;
  margin: 0 auto 10px;
}

.formSubHeader {
  margin-bottom: 10px;
  font-size: 12px;
}

.tabContent {
  div {
    flex-direction: row-reverse !important;
    height: auto !important;
    min-height: 45px !important;
    svg {
      margin-bottom: 0 !important;
      margin-left: 5px !important;
    }
  }
}

.progressCircularContainer {
  position: absolute;
  top: 45%;
  left: 45%;
}
