

.login-box {
  display: flex;
  position: relative;
  width: 20%;
  justify-content: center;
  flex-direction: column;
  min-height: 300px;
  padding: 20px;
  margin: 5% auto;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.login-header {
  text-align: center;
  margin-top: 5px;
  text-transform: uppercase;
  font-weight: 500;
  color: $main-blue;
  font-size: 18px
}

.login-field {
  text-align: center;
  margin: 10px 0;
}

.login-button {
  text-align: center;
  position: relative;
  margin: 25px 0;
}

.errors-box {
  min-height: 20px;
  text-align: center;
  margin: 10px;
}

.register-button {
  margin: 20px 10px;
}

.svg-container {
  text-align: center;
}

