.register-box {
  display: flex;
  position: relative;
  width: 20%;
  justify-content: center;
  flex-direction: column;
  min-height: 350px;
  padding: 20px;
  margin: 5% auto;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
