.appbar-container {
  background-color: $main-blue !important;
}

.menubar-container {
  background-color: $main-red !important;
}

.content-container {
  width: 80%;
  margin: 3% auto;
}

.addButtonContainer {
  position: fixed;
  right: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width: 120px;
  text-align: center;
  min-height: 150px;
  .addButton {
    background-color: $main-red;
  }
  .addText {
    margin-top: 15px;
    color: $black;
  }
}
