body {
  font-family: $mainFont;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5 {
  font-family: $mainFont;
  color: $black;
}

button {
  font-family: $mainFont;
  text-transform: uppercase;
}

.button-primary-style {
  div {
    div {
      padding: 0 16px;
      color: #fff;
      font-size: 14px;
    }
  }
}

.centered  {
  text-align: center;
}

.reset {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-t-40 {
  margin-top: 40px;
}

.m-t-50 {
  margin-top: 50px;
}
