@import 'bootstrap-grid.css';
@import 'react-table.css';
@import 'variables.scss';
@import 'base.scss';
@import 'components/index.scss';
@import 'containers/index';

/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

/* Styles */

