//Colors
$dark-grey: #212121;
$black: rgba(0,0,0,.87);
$main-blue: #006cb7;
$main-yellow: #FFBC42;
$main-red: #8F2D56;
$second-blue: #0496FF;
$error-color: #F44336;

//fonts
$mainFont: 'Roboto', sans-serif;
$secondaryFont: 'Open Sans', sans-serif;
